
TextEntryScaffold/prototype 2a/data/watchhand3.png
TextEntryScaffold/__MACOSX/._prototype 1
TextEntryScaffold/__MACOSX/._prototype 2.5b
TextEntryScaffold/__MACOSX/._prototype 2a
TextEntryScaffold/__MACOSX/._prototype 2b
TextEntryScaffold/__MACOSX/._prototype 3a
TextEntryScaffold/__MACOSX/prototype 1/._.DS_Store
TextEntryScaffold/__MACOSX/prototype 1/._code
TextEntryScaffold/__MACOSX/prototype 1/._data
TextEntryScaffold/__MACOSX/prototype 1/._prototype_1.pde
TextEntryScaffold/__MACOSX/prototype 1/._sketch.properties
TextEntryScaffold/__MACOSX/prototype 1/code/._sketch.properties
TextEntryScaffold/__MACOSX/prototype 1/data/._.DS_Store
TextEntryScaffold/__MACOSX/prototype 1/data/._phrases2.txt
TextEntryScaffold/__MACOSX/prototype 1/data/._pngegg.png
TextEntryScaffold/__MACOSX/prototype 1/data/._pngeggSmaller.png
TextEntryScaffold/__MACOSX/prototype 1/data/._watchhand3.png
TextEntryScaffold/__MACOSX/prototype 1/data/._watchhand3smaller.png
TextEntryScaffold/__MACOSX/prototype 2.5b/._.DS_Store
TextEntryScaffold/__MACOSX/prototype 2.5b/._code
TextEntryScaffold/__MACOSX/prototype 2.5b/._data
TextEntryScaffold/__MACOSX/prototype 2.5b/._prototype_2.5b.pde
TextEntryScaffold/__MACOSX/prototype 2.5b/._sketch.properties
TextEntryScaffold/__MACOSX/prototype 2.5b/code/._sketch.properties
TextEntryScaffold/__MACOSX/prototype 2.5b/data/._phrases2.txt
TextEntryScaffold/__MACOSX/prototype 2.5b/data/._pngegg.png
TextEntryScaffold/__MACOSX/prototype 2.5b/data/._pngeggSmaller.png
TextEntryScaffold/__MACOSX/prototype 2.5b/data/._watchhand3.png
TextEntryScaffold/__MACOSX/prototype 2.5b/data/._watchhand3smaller.png
TextEntryScaffold/__MACOSX/prototype 2a/._.DS_Store
TextEntryScaffold/__MACOSX/prototype 2a/._code
TextEntryScaffold/__MACOSX/prototype 2a/._data
TextEntryScaffold/__MACOSX/prototype 2a/._prototype_2a.pde
TextEntryScaffold/__MACOSX/prototype 2a/._sketch.properties
TextEntryScaffold/__MACOSX/prototype 2a/code/._sketch.properties
TextEntryScaffold/__MACOSX/prototype 2a/data/._phrases2.txt
TextEntryScaffold/__MACOSX/prototype 2a/data/._pngegg.png
TextEntryScaffold/__MACOSX/prototype 2a/data/._pngeggSmaller.png
TextEntryScaffold/__MACOSX/prototype 2a/data/._watchhand3.png
TextEntryScaffold/__MACOSX/prototype 2a/data/._watchhand3smaller.png
TextEntryScaffold/__MACOSX/prototype 2b/._.DS_Store
TextEntryScaffold/__MACOSX/prototype 2b/._code
TextEntryScaffold/__MACOSX/prototype 2b/._data
TextEntryScaffold/__MACOSX/prototype 2b/._prototype_2b.pde
TextEntryScaffold/__MACOSX/prototype 2b/._sketch.properties
TextEntryScaffold/__MACOSX/prototype 2b/code/._sketch.properties
TextEntryScaffold/__MACOSX/prototype 2b/data/._phrases2.txt
TextEntryScaffold/__MACOSX/prototype 2b/data/._pngegg.png
TextEntryScaffold/__MACOSX/prototype 2b/data/._pngeggSmaller.png
TextEntryScaffold/__MACOSX/prototype 2b/data/._watchhand3.png
TextEntryScaffold/__MACOSX/prototype 2b/data/._watchhand3smaller.png
TextEntryScaffold/__MACOSX/prototype 3a/._.DS_Store
TextEntryScaffold/__MACOSX/prototype 3a/._AndroidManifest.xml
TextEntryScaffold/__MACOSX/prototype 3a/._code
TextEntryScaffold/__MACOSX/prototype 3a/._data
TextEntryScaffold/__MACOSX/prototype 3a/._prototype_3.pde
TextEntryScaffold/__MACOSX/prototype 3a/._sketch.properties
TextEntryScaffold/__MACOSX/prototype 3a/code/._sketch.properties
TextEntryScaffold/__MACOSX/prototype 3a/data/._phrases2.txt
TextEntryScaffold/__MACOSX/prototype 3a/data/._pngegg.png
TextEntryScaffold/__MACOSX/prototype 3a/data/._pngeggSmaller.png
TextEntryScaffold/__MACOSX/prototype 3a/data/._watchhand3.png
TextEntryScaffold/__MACOSX/prototype 3a/data/._watchhand3smaller.png
TextEntryScaffold/prototype 1/.DS_Store
TextEntryScaffold/prototype 1/code/sketch.properties
TextEntryScaffold/prototype 1/data/.DS_Store
TextEntryScaffold/prototype 1/data/phrases2.txt
TextEntryScaffold/prototype 1/data/pngegg.png
TextEntryScaffold/prototype 1/data/pngeggSmaller.png
TextEntryScaffold/prototype 1/data/watchhand3.png
TextEntryScaffold/prototype 1/data/watchhand3smaller.png
TextEntryScaffold/prototype 1/prototype_1.pde
TextEntryScaffold/prototype 1/sketch.properties
TextEntryScaffold/prototype 2.5b/.DS_Store
TextEntryScaffold/prototype 2.5b/code/sketch.properties
TextEntryScaffold/prototype 2.5b/data/phrases2.txt
TextEntryScaffold/prototype 2.5b/data/pngegg.png
TextEntryScaffold/prototype 2.5b/data/pngeggSmaller.png
TextEntryScaffold/prototype 2.5b/data/watchhand3.png
TextEntryScaffold/prototype 2.5b/data/watchhand3smaller.png
TextEntryScaffold/prototype 2.5b/prototype_2.5b.pde
TextEntryScaffold/prototype 2.5b/sketch.properties
TextEntryScaffold/prototype 2a/.DS_Store
TextEntryScaffold/prototype 2a/code/sketch.properties
TextEntryScaffold/prototype 2a/data/phrases2.txt
TextEntryScaffold/prototype 2a/data/pngegg.png
TextEntryScaffold/prototype 2a/data/pngeggSmaller.png
TextEntryScaffold/prototype 2a/data/watchhand3smaller.png
TextEntryScaffold/prototype 2a/prototype_2a.pde
TextEntryScaffold/prototype 2a/sketch.properties
TextEntryScaffold/prototype 2b/.DS_Store
TextEntryScaffold/prototype 2b/code/sketch.properties
TextEntryScaffold/prototype 2b/data/phrases2.txt
TextEntryScaffold/prototype 2b/data/pngegg.png
TextEntryScaffold/prototype 2b/data/pngeggSmaller.png
TextEntryScaffold/prototype 2b/data/watchhand3.png
TextEntryScaffold/prototype 2b/data/watchhand3smaller.png
TextEntryScaffold/prototype 2b/prototype_2b.pde
TextEntryScaffold/prototype 2b/sketch.properties
TextEntryScaffold/prototype 3a/.DS_Store
TextEntryScaffold/prototype 3a/AndroidManifest.xml
TextEntryScaffold/prototype 3a/code/sketch.properties
TextEntryScaffold/prototype 3a/data/phrases2.txt
TextEntryScaffold/prototype 3a/data/pngegg.png
TextEntryScaffold/prototype 3a/data/pngeggSmaller.png
TextEntryScaffold/prototype 3a/data/watchhand3.png
TextEntryScaffold/prototype 3a/data/watchhand3smaller.png
TextEntryScaffold/prototype 3a/prototype_3.pde
TextEntryScaffold/prototype 3a/sketch.properties
